# Predicting an Employee's Salary

## Import Libraries

In [132]:
import pandas as pd
from sklearn.linear_model import LinearRegression

## Load Data

First, we need to load our data about employee years of experience and salaries.

In [133]:
data = pd.read_excel('salary_dataset.xlsx')

## Preview the Data

We can look at only the first 5 rows of data using .head()

one row = one employee

So, the first employee has been working at the company for 1.1 years and has a salary of 39,343. The second has been working there for 1.3 years and has a salary of 46,205, and so on...

In [134]:
data.head()

   YearsExperience  Salary
0              1.1   39343
1              1.3   46205
2              1.5   37731
3              2.0   43525
4              2.2   39891

We can quickly look at the last 5 rows (employees) by typing .tail()

In [135]:
data.tail()

    YearsExperience  Salary
25              9.0  105582
26              9.5  116969
27              9.6  112635
28             10.3  122391
29             10.5  121872

## Create a variable named 'x' which keeps all of the employee years of experience inside of it

Remember when we were trying to guess (predict) how tall you would be when you were 5, 6, 7, 8...years old?

Well, instead of using **age** to predict **height**, we are using **Years of Experience** to predict **Salary**. 

To keep it simple we will call **Years of Experience**, **x**.

In [136]:
x = data[['YearsExperience']]

## Create a variable named 'y' which keeps all of the employee salaries inside of it

Instead of predicting **height**, we are predicting **salaries**. Let's call it **y**.

In [137]:
y = data['Salary']

Earlier, we were using **Age** to predict **Height**, but now we are using **YearsExperience** to predict **Salary**, or we can say:

We are using **x** to predict **y**.

x and y could be anything. A weather person might use **Date** to predict **Temperature**, a company owner might use **December 2021 Sales** to predict **December 2022 Sales**, or a teacher might use **Amount of Time Student Spent Sleeping in Class** to **Students Final Grade**

## Create our Machine Learning model

Next, we are going to create an empty (without our salary and experience data) Machine Learning Model.

In [138]:
our_model = LinearRegression()

## Give the model some data (our employee experience and salary data)

Then, we are going to put our variables inside of it so that the model can *learn* the patterns.

In [139]:
our_model.fit(x, y)

LinearRegression()

## Predict the salary for an employee who has been working at this company for 15 years

In [140]:
years = 15

In [141]:
prediction = our_model.predict([[years]])

## Look at the prediction

In [142]:
prediction

array([167541.63502049])

## Now make it look nicer

In [144]:
print(f'The salary for this employee would be {round(prediction[0])} dollars per year.')

The salary for this employee would be 167542 dollars per year.

# What did the Machine Learning model learn?

Our model learned that if for every additional year an employee works at the company, their salary goes up by 9,450.

We can check it by looking at something called a *coefficient*.

In [145]:
round(our_model.coef_[0])

9450

Or...

Here is an employee with 16 years experience salary.

In [146]:
prediction2 = our_model.predict([[16]])

In [147]:
round(prediction2[0])

176992

And here is the difference between the employee with 16 years experience and the one with 15 years experience (1 year difference in experience).

In [148]:
difference = round(prediction2[0]) - round(prediction[0])

Can you guess what the difference in their salaries are?

In [149]:
difference

9450

# Your Turn

Now it's your turn. See how much you can do without going back to section 1. 

If you can't remember then feel free to look! Even the best programmers and machine learning engineers search Google for the answers when they forget something.

## Load the data

## Preview the Data

## Create a variable named 'x' which keeps all of the employee years of experience inside of it

## Create a variable named 'y' which keeps all of the employee salaries inside of it

## Create our Machine Learning model

## Give the model some data (our employee experience and salary data)

## Predict the salary for an employee who has been working at this company for 15 years

## Look at the prediction

## Now make it look nicer

##  BONUS! Play with the prediction a little

Go back to 2.7 and change the number in the **years** variable. What would the salary be for an employee with 5 years of experience, what about one with 1 year of experience, what about one with 0 years of experience?

Finally, enter a negative number for the **years** variable. Does something seem weird about the prediction?